textarea {
  background-size: 45px;
  background-attachment: scroll;
  background-repeat:repeat-y;
  border-color: #ccc;
  width:99.55%;
  height: 400px;
  resize:none;
  overflow-y: scroll;
  background-color:#E8F1F2 ;
  font-size: 20px;
  color:black;
  border: 1px solid #E8F1F2;
} 

textarea:focus {
  outline: none;
} 
