.symbol_table_panel {
  display: flex;
  flex-direction: column;
  background-color: darkslategrey;
  width: 100%;
  height: 230px;
  overflow-y: scroll;
}

.symbol_table_label {
  background-color: #131917;
  height: 14%;
  color: white;
  font-size: 20px;
  padding-left: 5px;
  padding-top: 7px;
}

.symbol_table_output {
  width: 100%;
  display: flex;
  background-color: darkslategrey;
  border-collapse: collapse;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.symbol_table_output th {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  width: 400px;
}
.symbol_table_output td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  width: 400px;
  color: white;
}

.symbol_table_output th {
  background-color: #f5f5f5;
  font-weight: bold;
  color: #333;
}

.symbol_table_output tr:hover {
  background-color: #131917;
}

.symbol_table_btnandcounter
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #131917;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.symbol_table_button {
  background-color: #131917;
  color: white;
  font-size: 20px;
  height: 100%;
  min-width: 100px;
  border: none;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.3, 1);
}
.symbol_table_button:hover {
  background-color: #23322d;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.3, 1);
}
.symbol_table_button:active {
  background-color: #314740;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.3, 1);
}
.symbol_table_counter {
  background-color: #131917;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.3, 1);
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
